.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(252, 203, 211, 0.205);
    height: fit-content;

}
.profile .profile-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0.5px 0px 2px rgba(219, 219, 219, 0.356),
                -0.5px 0px 2px rgba(219, 219, 219, 0.356);
    padding: 0 15px;              
    padding-bottom: 30px;
    min-height:80vh;
}
.profile .profile-container .toporleft{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(252, 148, 148, 0.133);
}
.profile .profile-container .toporleft .profile-icon{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 60px;
}
.profile .profile-container .toporleft .profile-details{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile .profile-container .profile-details .name{
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(10, 10, 168);
    color: white;
}
.profile .profile-container .toporleft .emailmobile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    color: rgba(255, 0, 0, 0.632);
}
.sections{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.sections .section{
    width: 170px;
    border:1px solid aquamarine;
    color: green;
    background-color: rgba(127, 255, 212, 0.371);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
}