.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(252, 203, 211, 0.205);
    height: fit-content;

}
.profile .profile-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0.5px 0px 2px rgba(219, 219, 219, 0.356),
                -0.5px 0px 2px rgba(219, 219, 219, 0.356);
    padding-bottom: 30px;
    min-height:80vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.profile .profile-container .background{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(252, 148, 148, 0.133);
    height:150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.profile .profile-container .background img{
    width: 100%;
}
.profile .profile-container .background .profile-icon{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: aliceblue;
    left: 20px;
    top: 200px;
    border-radius: 5px;
    overflow: hidden;
}
.profile .profile-container .background .profile-details{
    position: absolute;
    top: 210px;
    left: 130px;
}
.profile .profile-container .background .profile-details .edit-btn{
    background-color: rgba(0, 0, 139, 0.33);
    width: fit-content;
    padding: 4px 15px;
    margin-top: 18px;
    color: white;
    border-radius: 5px;
}
.sections{
    margin-top: 50px;
    gap: 20px;
    width: 100%;
}
.bottomorright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sections{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.sections .section{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 40px;
    margin-top: -13px;
}
.sections .section:hover{
    background-color: rgba(237, 237, 237, 0.105);
}
@media (min-width:650px) {
    .profile .profile-container .background .profile-icon{
        top: 250px;
    }
    .profile .profile-container .background .profile-details{
        top: 260px;
    }
}
@media (min-width:760px) {
    .profile .profile-container .background .profile-icon{
        top: 270px;
    }
    .profile .profile-container .background .profile-details{
        top: 280px;
    }

}