.loader-container{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    width: 40px;
    height: 40px;
    border-top: 4px solid rgb(25, 0, 255);
    border-left: 4px solid orange;
    border-radius: 50%;
    border-bottom: 4px solid red;
    animation: spin 2s linear infinite;

}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}