.loader-container{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader-border{
  width: 170px;
  height: 2px;
  background-color: rgb(212, 212, 212);
}
.loader-border .loader{
  height: 2px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.753);
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {transform: translateX(0px);}
  25% {transform: translateX(70px);}
  50%{transform: translateX(140px);}
}