.loader-container{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    width: 40px;
    height: 40px;
    border: 4px solid rgb(255, 141, 141);
    border-radius: 50%;
    border-bottom: 4px solid rgb(255, 0, 106);
    animation: spin 1s linear infinite;

}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}